<%- include('../partials/header') %>

<h2>Flight Details</h2>
<ul>
    <li>Airline: <%= flight.airline %></li>
    <li>Airport: <%= flight.airport %></li>
    <li>Flight No: <%= flight.flightNo %></li>
    <li>Departs: <%= flight.departs %></li>
</ul>
<h3>Destinations:</h3>
<% if (flight.destinations.length) { %>
    <ul>
        <% flight.destinations.forEach(function(d) { %>
            <li>Airport: <%= d.airport %>, Arrival: <%= d.arrival %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No destinations added.</p>
<% } %>

<h3>Tickets:</h3>
<% if (tickets.length) { %>
  <ul class = "ticket-box">
    <% tickets.forEach(function(ticket) { %>
      <li class = "ticket-item">
        Seat: <%= ticket.seat %>, Price: $<%= ticket.price %>
          <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST" id="delete-form">
             <button type="submit" class="delete-ticket-button">Delete Ticket</button>
          </form>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No tickets added for this flight.</p>
<% } %> <br>

<a href="/flights/<%= flight._id %>/tickets/new" class="new-ticket-button">New Ticket</a>

<br><br><h3>Add Destination</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Airport
      <select name="airport">
        <% const usedAirports = [flight.airport]; %>
        <% flight.destinations.forEach(function(destination) { %>
          <% if(!usedAirports.includes(destination.airport)) { %>
            <% usedAirports.push(destination.airport); %>
          <% } %>
        <% }); %>
        <option value="AUS" <% if (usedAirports.includes('AUS')) { %> disabled <% } %> >AUS</option>
        <option value="DFW" <% if (usedAirports.includes('DFW')) { %> disabled <% } %> >DFW</option>
        <option value="DEN" <% if (usedAirports.includes('DEN')) { %> disabled <% } %> >DEN</option>
        <option value="LAX" <% if (usedAirports.includes('LAX')) { %> disabled <% } %> >LAX</option>
        <option value="SAN" <% if (usedAirports.includes('SAN')) { %> disabled <% } %> >SAN</option>
        <option value="LGA" <% if (usedAirports.includes('LGA')) { %> disabled <% } %> >LGA</option>
        <option value="JFK" <% if (usedAirports.includes('JFK')) { %> disabled <% } %> >JFK</option>
      </select>
    </label><br>
    <label>Arrival Time</label>
    <input name="arrival" type="datetime-local" />
    <br />
    <button type="submit">Add Destination</button>
  </form>
  
<%- include('../partials/footer') %>